<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="../../styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/modules.css"/>
  </head>
<body>
  <h1>Search Results</h1>
  <% bookResults.forEach( book => { %>
    <img src="<%= book.image_url %>">
    <h3>Title: <%= book.title %> </h3>
    <h3>Author: <%= book.author %> </h3>
    <p> <%= book.description %> </p>
    <p> <%= book.isbn %> </p>
  <% }); %>
</body>
</html>